<a href="https://colab.research.google.com/github/nazilaeshghi/from-rep/blob/main/Homework1_Zoomcamp_NazilaEshghi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [140]:
import pandas as pd
import numpy as np

In [141]:
# Question 1. Pandas version
pd.__version__

'2.1.4'

In [142]:
laptops = pd.read_csv('laptops.csv')
laptops.shape

(2160, 12)

In [143]:
# Question 2. Records count
laptops.shape[0]

2160

In [144]:
laptops.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [145]:
laptops.Brand.unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [146]:
# Question 3. Laptop brands
len(laptops.Brand.unique())

27

In [147]:
laptops.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [148]:
# Question 4. Missing values
sum(laptops.isnull().any())

3

In [149]:
for column in laptops.columns:
    if laptops[column].isnull().any():
        print(f"Column '{column}' has missing values at index:")
        print(laptops[laptops[column].isnull()].index.tolist())

Column 'Storage type' has missing values at index:
[145, 189, 260, 477, 493, 569, 581, 600, 654, 728, 731, 747, 787, 843, 875, 927, 931, 945, 1013, 1085, 1104, 1131, 1132, 1145, 1146, 1167, 1173, 1174, 1209, 1452, 1571, 1574, 1587, 1612, 1643, 1644, 1661, 1662, 1742, 1743, 1896, 2133]
Column 'GPU' has missing values at index:
[0, 1, 2, 4, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 21, 22, 24, 26, 28, 29, 30, 32, 33, 37, 38, 39, 41, 42, 44, 45, 48, 49, 50, 51, 54, 56, 58, 59, 60, 61, 62, 64, 65, 67, 69, 73, 74, 75, 77, 78, 80, 82, 83, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 101, 102, 103, 104, 105, 107, 108, 109, 110, 111, 112, 113, 114, 115, 117, 118, 119, 120, 121, 122, 123, 124, 126, 128, 130, 131, 133, 135, 136, 138, 139, 140, 143, 144, 145, 147, 148, 149, 151, 154, 155, 158, 160, 161, 162, 167, 168, 170, 171, 172, 174, 175, 176, 178, 180, 181, 182, 184, 186, 187, 188, 189, 190, 191, 193, 196, 197, 198, 200, 201, 202, 205, 210, 211, 212, 213, 215, 216, 219, 222, 224, 225, 228, 229, 230, 231, 232, 233, 236, 237, 238, 239, 240, 244, 245, 246, 248, 251, 252, 255, 257, 258, 261, 262, 263, 264, 267, 268, 270, 271, 272, 276, 277, 278, 279, 280, 281, 283, 285, 287, 289, 291, 293, 294, 295, 297, 298, 299, 300, 301, 302, 303, 305, 308, 309, 310, 314, 315, 316, 317, 319, 320, 322, 323, 324, 325, 328, 329, 331, 332, 335, 337, 339, 341, 342, 343, 344, 349, 352, 354, 355, 357, 360, 362, 363, 364, 365, 366, 367, 368, 370, 371, 372, 373, 376, 380, 381, 384, 385, 387, 389, 395, 397, 400, 401, 402, 403, 404, 409, 411, 412, 416, 418, 421, 424, 425, 426, 427, 430, 432, 433, 434, 435, 436, 439, 441, 442, 445, 447, 449, 450, 451, 452, 454, 455, 456, 457, 458, 460, 467, 469, 477, 479, 480, 482, 483, 488, 489, 493, 497, 500, 501, 502, 503, 505, 506, 507, 508, 509, 510, 511, 514, 515, 517, 518, 519, 520, 521, 522, 523, 527, 528, 529, 531, 532, 533, 535, 538, 540, 541, 542, 543, 545, 546, 547, 549, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 564, 565, 566, 569, 570, 572, 573, 574, 575, 577, 578, 579, 581, 582, 583, 584, 587, 588, 590, 591, 592, 593, 594, 598, 600, 601, 603, 604, 610, 611, 612, 613, 614, 615, 617, 618, 619, 620, 621, 623, 624, 625, 626, 629, 631, 633, 634, 635, 636, 638, 640, 641, 647, 649, 650, 651, 652, 653, 654, 655, 656, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 674, 676, 677, 679, 680, 681, 682, 683, 684, 686, 688, 689, 690, 696, 697, 698, 703, 705, 706, 707, 708, 709, 710, 712, 713, 714, 715, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 731, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 752, 753, 754, 755, 756, 757, 758, 759, 761, 762, 764, 766, 767, 768, 769, 773, 775, 776, 777, 778, 780, 781, 782, 784, 785, 789, 790, 792, 793, 794, 796, 797, 798, 800, 801, 802, 803, 805, 807, 808, 809, 810, 811, 812, 813, 815, 817, 820, 822, 824, 825, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 846, 847, 848, 849, 850, 851, 852, 853, 855, 857, 859, 862, 863, 865, 866, 867, 868, 869, 870, 871, 872, 874, 875, 876, 878, 879, 881, 882, 883, 884, 885, 886, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 904, 905, 907, 908, 909, 910, 913, 915, 919, 920, 921, 923, 925, 927, 928, 929, 930, 931, 933, 934, 935, 937, 938, 939, 942, 943, 944, 945, 946, 947, 948, 950, 951, 953, 954, 956, 957, 958, 959, 960, 961, 962, 963, 964, 968, 969, 971, 972, 973, 975, 976, 977, 978, 979, 980, 981, 984, 985, 987, 989, 990, 991, 994, 995, 997, 999, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1010, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1020, 1021, 1022, 1023, 1024, 1026, 1027, 1028, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1043, 1046, 1047, 1048, 1049, 1050, 1053, 1054, 1055, 1056, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1077, 1078, 1080, 1081, 1084, 1085, 1086, 1087, 1088, 1089, 1091, 1093, 1094, 1095, 1096, 1097, 1098, 1100, 1102, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1120, 1126, 1130, 1131, 1132, 1133, 1134, 1135, 1138, 1139, 1140, 1141, 1144, 1145, 1147, 1148, 1151, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1167, 1168, 1169, 1170, 1171, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1200, 1204, 1205, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1261, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1302, 1303, 1304, 1305, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1464, 1465, 1466, 1467, 1470, 1471, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1552, 1554, 1555, 1556, 1557, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1599, 1604, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1656, 1657, 1658, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1717, 1727, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1768, 1769, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1914, 1915, 1916, 1917, 1918, 1919, 1922, 1925, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1948, 1949, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1998, 2000, 2065, 2066, 2067, 2068, 2069, 2070, 2074, 2075, 2076, 2080, 2087, 2123, 2125, 2133, 2134, 2135, 2136, 2137, 2138, 2158, 2159]
Column 'Screen' has missing values at index:
[624, 1430, 1503, 1548]

In [150]:
laptops['GPU'].isnull().any()

True

In [151]:
# Question 5. Maximum final price
laptops[ laptops['Brand'] == 'Dell']['Final Price'].max()

3936.0

In [152]:
laptops.loc[laptops['Final Price'].idxmax(), 'Brand']

'MSI'

In [153]:
laptops.sort_values(by=['Final Price'], ascending=False)['Brand'].head(5).unique()

array(['MSI', 'Asus', 'HP'], dtype=object)

In [154]:
#Q6. Median value of Screen
#Find the median value of Screen column in the dataset.
#Next, calculate the most frequent value of the same Screen column.
#Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
#Now, calculate the median value of Screen once again.
#Has it changed?

#Hint: refer to existing mode and median functions to complete the task.

In [155]:
# Question 6. Median value of Screen

import pandas as pd

# 1. Calculate initial median of 'Screen'
initial_median = laptops['Screen'].median()
print(f"Initial median of 'Screen': {initial_median}")

# 2. Calculate most frequent value of 'Screen'
most_frequent_screen = laptops['Screen'].mode()[0]  # [0] to get the first mode (in case of multiple modes)
print(f"Most frequent value of 'Screen': {most_frequent_screen}")

# 3. Fill missing values with the most frequent value
laptops['Screen_filled'] = laptops['Screen'].fillna(most_frequent_screen)

# 4. Calculate median after filling missing values
median_after_filling = laptops['Screen_filled'].median()
print(f"Median after filling missing values: {median_after_filling}")

# 5. Check if the median has changed
median_changed = initial_median != median_after_filling
print(f"Has the median changed? {median_changed}")

Initial median of 'Screen': 15.6
Most frequent value of 'Screen': 15.6
Median after filling missing values: 15.6
Has the median changed? False

In [156]:
innjoo_laptops = laptops[laptops['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']]
X = innjoo_laptops.values
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [157]:
# Question 7. Sum of weights
y = np.array([1100, 1300, 800, 900, 1000, 1100])

XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
w = XTX_inv.dot(X.T).dot(y)
np.sum(w)

91.2998806299555

In [158]:
y.shape
XTX.shape

(3, 3)